# 阿里云百炼 API Key
# 获取地址：https://bailian.console.aliyun.com/?tab=model#/api-key
DASHSCOPE_API_KEY=sk-xxx

# OpenSearch AI搜索开放平台配置
# 获取地址：https://opensearch.console.aliyun.com/cn-shanghai/rag/server-market
OPENSEARCH_API_KEY=OS-xxx
OPENSEARCH_ENDPOINT=xxx.platform-cn-shanghai.opensearch.aliyuncs.com
OPENSEARCH_WORKSPACE=default
